<%- include('partials/head') %>

  <body class="container">
    <%- include('partials/header') %>
    <%- include('partials/message') %>

  <%- include('partials/cartBody') %>
  <%- include('partials/footer') %>
  </body>
</html>