<%- include('partials/head') %>

  <body style="text-align: center;">

    <h1><%= product.name %></h1>
    <% if (product.photo) { %>
    <img style="height: 200px;" src="/uploads/<%= product.photo %>" alt="<%= product.name %>" />
   
    <% } %>
    <p><%= product.description %></p>
    <p>Price: <%= product.price %></p>
    <p>Stock: <%= product.stock %></p>
    <form action="/products/add-to-cart" method="POST">
      <input type="hidden" name="productId" value="<%= product.id %>" />
      <input type="hidden" name="price" value="<%= product.price %>" />
      <button type="submit">Add to Cart</button>
    <%- include('partials/footer') %>
  </body>
</html>